*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    background-color: rgba(65, 105, 225, 0.708);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
   
}

.title{
    padding: 10px;
}

.input-search{
    padding: 10px;
}

p{
    margin: 2px;
}